%h3
  The following items are registered by the system
%table.table-minimalistic
  %thead
    %tr
      %th Name
      %th Price
      %th Owner
      %th Active
      %th
  %tbody
    -for item in @database.get_items
      %tr
        %td
          %a.tooltip{:href => url("/item/#{item.id}")}
            =item.name
            %span.classic
              -if item.description == ""
                No description available
              - lines = ("#{item.description}").split("\n")
                - unless lines.empty?
                - lines.each do |line|
                  %li.without_points
                    = line
        %td.ralign
          #{item.price}
        %td
          %a{:href => url("/user/#{item.owner.name}")}
            #{item.owner.name}
        %td
          -if item.active?
            %input{:type => "checkbox", :disabled => "disabled", :checked => "checked"}
          -else
            %input{:type => "checkbox", :disabled => "disabled"}
