%h2
  Items
%h3
  The following items are registered by the system
%table.table-minimalistic
  %thead
    %tr
      %th Name
      %th Price
      %th Owner
      %th Active
      %th
  %tbody
    -for item in Store::Item.all
      %tr
        %td
          %a{:href => url("/item/#{item.id}")}
            :escaped
              #{item.name}
        %td.ralign
          #{item.price}
        %td
          %a{:href => url("/user/#{item.owner.name}")}
            :escaped
              #{item.owner.name}
        %td
          -if item.active?
            %input{:type => "checkbox", :disabled => "disabled", :checked => "checked"}
          -else
            %input{:type => "checkbox", :disabled => "disabled"}
