:javascript
  $(document).ready(function() {
     $('.powertip').powerTip({
          placement: 'e', // north-east tooltip positio
          mouseOnToPopup: 'true'
     });
  })
%div#actionbar
  %h2.float_left
    Store
  %div.action_buttons.float_right
    %a.styled-button{:href => "/item/new"} Create new Auction
%h3
  Current auctions:
%table.table-minimalistic{:id => "Table", :class => "tablesorter pager"}
  %thead
    %tr
      %th Pic
      %th Item
      %th Price
      %th Owner
      %th finishes in
      %th
  %tbody
    -for user in Store::Trader.all
      -for item in user.get_active_items
        -if item.is_auction?
          %tr
            %td
              %img{:src => item.image_path, :height => "40px"}
            %td
              -popup_text = Haml::Engine.new(File.read(APP_STARTUP_PATH + '/views/partials/item_popup.haml')).render(Object.new,:user => @user, :item => item, :actionable => false)
              %a.powertip{:href => url("/item/#{item.id}"), "data-powertip" => popup_text}
                :escaped
                  #{item.name}
            %td
              #{item.current_auction_price_to_show}
            %td
              %a{:href => url("#{item.owner.class == Store::User ? "/user/" : "/organization/"}#{item.owner.name}")}
                :escaped
                  #{item.owner.name}
            %td{:title => item.end_time.strftime("%Y-%m-%d %H:%M")}
              %p #{item.time_delta_string}
            %td
              -if @user.on_behalf_of.can_buy?(item)
                %form{:action => "/user/buy/#{item.id}", :method => "POST"}
                  %input.styled-button.small.buy-color{:type => "submit", :value => @user.working_as_self? ? "Bid" : "Bid as #{@user.on_behalf_of.name}"}
=haml :'partials/pagination'
%br
%br
=haml :'partials/recent_purchases', :locals => {:mrp => most_recent_purchases}