%div#actionbar
  %h1.float_left
    :escaped
       #{viewed_organization.name}
  %br
%h3
  :escaped
    #{"Credits of " + viewed_organization.name}
%p
  $#{viewed_organization.credits}
  %br
%h3
  Members of Organization
%p
%ul
  -for member in viewed_organization.organization_members
    %li
      #{member.name}
%form{:action => "/organization/#{viewed_organization.name}", :method => "POST", :onsubmit => "return validate_profile_edit(this);"}
  %div.picture_container.float_right
    %img{:src => "#{viewed_organization.image_path}", :width => "200"}
  %h3
    Change Organization Picture
  %form(action= "/organization/#{viewed_organization.name}" method= "POST" enctype= "multipart/form-data")
    %input(type='file' name="file_upload" accept="image/*")
    %input(type='submit' value='Upload File' class = 'styled-button')
    %br
    %br
%form{:action => "/organization_change/#{viewed_organization}", :method => "POST", :onsubmit => "return validate_profile_edit(this);"}
  %h3
    :escaped
      Items of #{viewed_organization.name}
  -if viewed_organization.items.empty?
    %p
      No items available
  -else
    %table.table-minimalistic
      %thead
        %tr
          %th Name
          %th Price
          %th Active
          %th
      %tbody
        -if is_my_organization
          %tr
        -for item in viewed_organization.items
          %tr
            %td
              %a{:href => url("/item/#{item.id}")}
                =item.name
            %td
              #{item.price}
            %td
              -if item.active?
                %input{:type => "checkbox", :disabled => "disabled", :checked => "checked"}
              -else
                %input{:type => "checkbox", :disabled => "disabled"}
  %div.action_buttons
    %a.styled-button{:href => "/item/new"} Create new Item
    %br
    %br
  %h3
    #{"Description of " + viewed_organization.name}
  -if viewed_organization.description == ""
    %p No description available
  -else
    %div.markdown_view
      =marked_down_description
  %br
  %h3
    Invite Users to the Organization
    %table.table-minimalistic
      %thead
        %tr
          %th Name
          %th Add
      %tbody
        -i=0
        -for user in Store::User.all
          -if viewed_organization.organization_members.detect{ |member| member == user}
            -i=i
          -else i=i+1
            %tr
              %td
                %a{:href => url("/user/#{user.name}")}
                  :escaped
                    #{user.name}
              %td.ralign
                %input{:type => "checkbox", :name => "member[]", :value => user.name}
  %br
  %h3
    Remove Users from Organization
    %table.table-minimalistic
      %thead
        %tr
          %th Name
          %th Add
      %tbody
        -i=0
        -for user in Store::User.all
          -if viewed_organization.organization_members.detect{ |member| member == user}
            -if user != viewer
            -i=i+1
              %tr
                %td
                  %a{:href => url("/user/#{user.name}")}
                    :escaped
                      #{user.name}
                %td.ralign
                  %input{:type => "checkbox", :name => "rem[]", :value => user.name}
  %br
  %br
  %input{:name => "_method", :type => "hidden", :value => "PUT"}
  %input.styled-button{:type => "submit", :value => "Save Changes"}