%div#actionbar
  %h1.float_left
    :escaped
       #{viewed_organization.name}
%div.picture_container.float_right
  %img{:src => "#{viewed_organization.image_path}", :width => "200"}
%h3
  Change Organization Picture
%form(action= "/organization/#{viewed_organization.name}/pic_upload" method= "POST" enctype= "multipart/form-data")
  %div.button_container
    %input(type='file' name="file_upload" accept="image/*")
    %input(type='submit' value='Upload File' class = 'styled-button')
%br
%form{:action => "/organization/#{viewed_organization.name}/edit", :method => "POST", :onsubmit => "return validate_profile_edit(this);"}
  %h3
    #{"Description of " + viewed_organization.name}
  %textarea.textbox8.about_yourself{:name => "org_desc"}
    - lines = ("#{marked_down_description}").split("\n")
    - unless lines.empty?
      - lines.each do |line|
        =line
  %br
  %h3
    Invite Users to the Organization
  %table.table-minimalistic
    %thead
      %tr
        %th Name
        %th Add
    %tbody
      -for user in Store::User.all_active
        -if not viewed_organization.has_member?(user)
          %tr
            %td
              %a{:href => url("/user/#{user.name}")}
                :escaped
                  #{user.name}
            %td.ralign
              %input{:type => "checkbox", :name => "member[]", :value => user.name}
  %br
  %h3
    Remove Users from Organization
  %table.table-minimalistic
    %thead
      %tr
        %th Name
        %th Remove
    %tbody
      -for member in viewed_organization.members
        -if member != viewer
          %tr
            %td
              %a{:href => url("/user/#{member.name}")}
                :escaped
                  #{member.name}
            %td.ralign
              %input{:type => "checkbox", :name => "rem[]", :value => member.name}
  %br
  %input.styled-button{:type => "submit", :value => "Save Changes"}
%br(clear="all")
-if i_am_admin
  %h3#manage_admins
    Manage Administrators
  %table.table-minimalistic
    %thead
      %tr
        %th Name
        %th
    %tbody
      -for user in Store::User.all_active
        %tr
          %td
            %a{:href => url("/user/#{user.name}")}
              :escaped
                #{user.name}
          %td
            %div.action_buttons
              -unless user.is_member_of?(viewed_organization)
                %form{:action => "/organization/#{viewed_organization.name}/add/#{user.name}/", :method => "POST" }
                  %input.styled-button.small{:type => "submit", :value => "Invite"}
              -if user.is_member_of?(viewed_organization) and !user.is_admin_of?(viewed_organization)
                %form{:action => "/organization/#{viewed_organization.name}/remove/#{user.name}/", :method => "POST"}
                  %input.styled-button.small.float_left{:type => "submit", :value => "Remove"}
              -if !user.is_admin_of?(viewed_organization) and user.is_member_of?(viewed_organization)
                %form{:action => "/organization/#{viewed_organization.name}/add/#{user.name}/", :method => "POST"}
                  %input.styled-button.small.float_left{:type => "submit", :value => "Add as Admin"}
              -if viewed_organization.admins.length > 1 and user.is_admin_of?(viewed_organization)
                %form{:action => "/organization/#{viewed_organization.name}/remove/#{user.name}/", :method => "POST"}
                  %input.styled-button.small.float_left{:type => "submit", :value => "Remove as Admin"}