%h2
  Item Details
%div.action_buttons.float_right
  -if @user.on_behalf_of.can_activate?(item)
    -if item.active?
      %form{:action => "/item/#{item.id}/update_status?activate=false", :method => "POST"}
        %input.styled-button{:type => "submit", :value => "Deactivate", :text => "deacBtn"}
    -else
      %form{:action => "/item/#{item.id}/update_status?activate=true", :method => "POST"}
        %input.styled-button{:type => "submit", :value => "Activate", :text => "deacBtn"}
  -if @user.on_behalf_of.can_edit?(item)
    %a.styled-button{:href => "/item/#{item.id}/edit"} Edit
  -if @user.on_behalf_of.can_delete?(item)
    %form{:action => "/item/#{item.id}", :method => "POST"}
      %input{:name => "_method", :type => "hidden", :value => "delete"}
      %input.styled-button.delete-color{:type => "submit", :value => "Delete", :text => "delBtn"}
  -if @user.on_behalf_of.can_buy?(item)
    -#%form{:action => "/user/add_pending/#{item.id}", :method => "POST"}
    -#%input.styled-button.buy-color{:type => "submit", :value => @user.working_as_self? ? "Buy/Bid" : "Buy/Bid as #{@user.on_behalf_of.name}"}
    %form{:action => "/user/add_pending/#{item.id}", :method => "POST"}
      -if item.isFixed?
        %input.textbox8{:type => "text", :name => "buy_amount", :style => "width: 30px", :value => "1"}
        %input.styled-button.buy-color{:type => "submit", :value => @user.working_as_self? ? "Buy" : "Buy as #{@user.on_behalf_of.name}"}
      -elsif item.isAuction?
        %input.styled-button.buy-color{:type => "submit", :value => @user.working_as_self? ? "Bid" : "Bid as #{@user.on_behalf_of.name}"}
%h4
  -if item.active?
    This item is currently being traded
  -else
    This item is currently not being traded
%div#item_details
  %div.picture_container
    %img{:src => "#{item.image_path}", :width => "200"}
  %div.details_container
    %h3.no_top_margin
      Name
    %p
      :escaped
        #{item.name}
    %h3
      Price
    %p
      #{item.price}
    %h3
      Quantity
    %p
      #{item.quantity}
    %h3
      Owner
    %p
      -if item.owner.nil? && item.state == :pending
        Pending
      -else
        :escaped
          #{item.owner.name unless item.owner == nil}
    -if item.isAuction?
      %h3
        Increment
      %p
        #{item.increment}
      %h3
        Current winner
      %p
        -if item.current_winner != nil
          :escaped
            #{item.current_winner.name}
        -else
          No winner yet

%h3
  Description
-if item.description == ""
  %p
    No description available
-else
  %div.markdown_view
    =marked_down_description
  %br(clear="all")
%table.table-comments
  %thead
    %tr
      %th
        %h3#comments Comments
  %tbody
    -for comment in item.comments
      %tr
        %td
          %div.comment_picture_container
            %img{:src => "#{comment.owner.image_path}", :width => "50", :height => "50"}
          -if @user.working_on_behalf_of?(comment.owner)
            %form{:action => "/item/#{item.id}/delete_comment/#{comment.id}", :method => "POST"}
              %input.styled-button.float_right.delete-color{:type => "submit", :value => "Delete"}
          %h4
            %a{:href => url("#{comment.owner.class == Store::User ? "/user/" : "/organization/"}#{comment.owner.name}")}
              :escaped
                #{comment.owner.name}
            wrote at: #{comment.time_stamp}
          %br
          %div.markdown_view
            = RDiscount.new(comment.format_description, :smart, :filter_html).to_html
    %tr
      %td.textarea
        %div.smiley-view
          %img{:src => "/images/smileys/smile.gif" , :onclick => "addSmiley(':)', 'comment_input')", :alt => "Smile" ,:border=>"0"}
          %img{:src => "/images/smileys/laugh.gif" , :onclick => "addSmiley(':D', 'comment_input')", :alt => "Smile" ,:border=>"0"}
          %img{:src => "/images/smileys/cool.gif" , :onclick => "addSmiley('8)', 'comment_input')", :alt => "Smile" ,:border=>"0"}
          %img{:src => "/images/smileys/double_minded.gif" , :onclick => "addSmiley(':/', 'comment_input')", :alt => "Smile" ,:border=>"0"}
          %img{:src => "/images/smileys/disappointed.gif" , :onclick => "addSmiley(':(', 'comment_input')", :alt => "Smile" ,:border=>"0"}
          %img{:src => "/images/smileys/sad.gif" , :onclick => "addSmiley(':,(', 'comment_input')", :alt => "Smile" ,:border=>"0"}
          %img{:src => "/images/smileys/shocked.gif" , :onclick => "addSmiley(':O', 'comment_input')", :alt => "Smile" ,:border=>"0"}
          %img{:src => "/images/smileys/crazy.gif" , :onclick => "addSmiley(':crazy:', 'comment_input')", :alt => "Smile" ,:border=>"0"}
          %img{:src => "/images/smileys/yeah.gif" , :onclick => "addSmiley(':yeah:', 'comment_input')", :alt => "Smile" ,:border=>"0"}
        %form{:action => "/item/#{item.id}/add_comment", :method => "POST", :onsubmit => "return validate_comment(this);"}
          %textarea.textbox8.comment{:name => "item_comment", :id => "comment_input"}
          %tr
            %td
              %input.styled-button.float_right{:type => "submit", :value => "Comment"}
:javascript
  function addSmiley(txt, id) {
  var div = document.getElementById(id);
  div.value += '' +txt+ ' ';
  }