%h3
  The following items are registered by the system
%table#hor-minimalist-b
  %thead
    %tr
      %th Name
      %th Price
      %th Owner
      %th Active
      %th
  %tbody
    -for item in @database.get_items
      %tr
        %td
          #{item.name}
        %td
          #{item.price}
        %td
          %a{:href => url("/profile/#{item.owner.name}")} #{item.owner.name}
        %td
          -if item.active?
            %input{:type => "checkbox", :disabled => "disabled", :checked => "checked"}
          -else
            %input{:type => "checkbox", :disabled => "disabled"}
        %td
          #list_actions
            -if item.owner == @user or @user.name == "admin"
              -if item.active?
                #button_container
                  %form{:action => "/act_deact/#{item.id}/false", :method => "POST"}
                    %input.styled-button-4{:type => "submit", :value => "Deactivate", :text => "deacBtn"}
              -else
                #button_container
                  %form{:action => "/act_deact/#{item.id}/true", :method => "POST"}
                    %input.styled-button-4{:type => "submit", :value => "Activate", :text => "deacBtn"}
            -if item.owner != @user and item.active?
              #button_container
                %form{:action => "/buy/#{item.id}", :method => "POST"}
                  %input.styled-button-4.buy-color{:type => "submit", :value => "Buy", :text => "buyBtn"}
            -if !item.active? and @user == item.owner
              #button_container
                %form{:action => "/delete_item/#{item.id}", :method => "POST"}
                  %input.styled-button-4.delete-color{:type => "submit", :value => "Delete", :text => "delBtn"}
    %tr
      %form{:action => "/create_item", :method => "POST"}
        %td
          %input.textbox8(type="text" name="item_name" style="width: 60px")
        %td
          %input.textbox8(type="text" name="item_price" style="width: 30px")
        %td
          %a{:href => url("/profile/#{@user.name}")}
            #{@user.name}
        %td
        %td
          %input.styled-button-4{:type => "submit", :value => "Propose", :text => "createBtn"}

