%div#actionbar
  %h2.float_left
    Store
  %div.action_buttons.float_right
    %a.styled-button{:href => "/item/new"} Propose new Item
  %div.action_buttons.float_right
    %a.styled-button{:href => "/store/auction"} Auction Store
  %div.action_buttons.float_right
    %a.styled-button{:href => "/store/item"} Item Store

%h3
  Items currently in store:
%table.table-minimalistic{:id => "Table", :class => "tablesorter pager", :align => "center"}
  %thead
    %tr
      %th Pic
      %th Item
      %th Price
      %th Owner
      %th Avail.Qty
      %th
  %tbody
    -for user in Store::Trader.all
      -for item in user.get_active_items
        -if item.is_fixed?
          %tr
            %td
              %img{:src => item.image_path, :height => "40px"}
            %td
              %a{:href => url("/item/#{item.id}")}
                :escaped
                  #{item.name}
            %td
              #{item.price}
            %td
              %a{:href => url("#{item.owner.class == Store::User ? "/user/" : "/organization/"}#{item.owner.name}")}
                :escaped
                  #{item.owner.name}
            %td
              #{item.quantity}
            %td
              -if @user.on_behalf_of.can_buy?(item)
                %form{:action => "/user/buy/#{item.id}", :method => "POST"}
                  %input.textbox8{:type => "text", :name => "buy_amount", :style => "width: 30px", :value => "1"}
                  %input.styled-button.small.buy-color{:type => "submit", :value => @user.working_as_self? ? "Buy" : "Buy as #{@user.on_behalf_of.name}"}
=haml :'partials/pagination'