!!! 5
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head
    %link{:rel=> "stylesheet/less", :type => "text/css", :href => url("styles/styles.less")}
    %script{:type => "text/javascript", :src => url("scripts/less-1.3.0.min.js")}
    %title
      Awesome Trading App
  %body
    %div#page
      %div#header
        %img{:src => url("/images/banner_trading.png")}
      %div#status_bar
        -if not @user.nil?
          %span.credit_status
            Credits: $#{@user.credits} | Items: #{@user.items.size}
          %span.login_status
            Logged in as
            %a{:href => url("/user/#{@user.name}")}
              :escaped
                #{@user.name}
            |
            %a{:href => url("/logout")} Logout
        -else
          %span.login_status
            Not logged in!
            |
            %a{:href => url("/register")}
              Register
      -if not @user.nil?
        %div#nav_bar
          %ul
            %li
              %a{:href => url("/")} Store
            %li
              %a{:href => url("/users")} Users
            %li
              %a{:href => url("/items")} Items
            %li
              %a{:href => url("/user/#{@user.name}")} My Profile
            %li
              %a{:href => url("/activities")} Activities
            %li
              %a{:href => url("/organizations")} Organizations
      %div#content
        =yield
        %p#error_message
