%div#actionbar
  %h2.float_left
    Pending Items
  %div.action_buttons.float_right
    %form{:action => '/user/confirm_all_purchases', :method => "POST"}
      %input.styled-button{:type => "submit", :value => "Confirm all purchases"}

-if @user.on_behalf_of.pending_purchases.size > 0
  %table.table-minimalistic{:id => "Table2", :class => "tablesorter pager"}
    %thead
      %tr
        %th Name
        %th Price
        %th Qty
        %th Seller
        %th
    %tbody
      -for purchase in @user.on_behalf_of.pending_purchases do
        -item = purchase.item
        -quantity = purchase.quantity
        %tr
          %td
            %a{:href => url("/item/#{item.id}")}
              =purchase.item.name
          %td
            #{purchase.item.price}
          %td
            #{purchase.quantity}
          %td
            #{purchase.seller.name}
          %td
            %div.action_button
              %form{:action => "/user/confirm/#{purchase.id}", :method => "POST"}
                %input.styled-button.small.float_left{:type => "submit", :value => "Validate Reception"}
  =haml :'partials/pagination2'
-else
  %p No pending items