-if !@user.on_behalf_of.pending_purchases.empty?
  %h3
    Pending Items:
  %p
  %table.table-minimalistic{:id => "Table2", :class => "tablesorter pager"}
    %thead
      %tr
        %th Name
        %th Price
        %th Qty
        %th Seller
        %th
    %tbody
      -for purchase in @user.on_behalf_of.pending_purchases do
        -item = purchase.item
        -quantity = purchase.quantity
        %tr
          %td
            %a{:href => url("/item/#{item.id}")}
              =purchase.item.name
          %td
            #{purchase.item.price}
          %td
            #{purchase.quantity}
          %td
            #{purchase.seller.name}
          %td
            %div.action_button
              %form{:action => "/user/confirm/#{purchase.id}", :method => "POST"}
                %input.styled-button.small.float_left{:type => "submit", :value => "Validate Reception"}
  =haml :'partials/pagination2'
-else
  %h3
    Pending Items:
  %p
    No pending items