%div#actionbar
  %h2.float_left
    :escaped
      #{viewed_organization.name}
  -if is_my_organization
    %div.money-sender
      %table
        %tr
          %form{:action => "/user/send_money/#{viewed_organization.name}", :method => "POST", :onsubmit => "return validate_gift_transfer(this);"}
            %td.ralign
              %label Amount To Organization
            %td
              %input.textbox8{:type => "text", :name => "gift_amount", :style => "width: 2em"}
            %td
              %input.styled-button.float_left{:type => "submit", :value => "Transfer"}
        -if i_am_admin
          %tr
            %form{:action => "/organization/#{viewed_organization.name}/send_money", :method => "POST", :onsubmit => "return validate_gift_transfer(this);"}
              %td.ralign
                %label Amount To Me
              %td
                %input.textbox8{:type => "text", :name => "gift_amount", :style => "width: 2em"}
              %td
                %input.styled-button.float_left{:type => "submit", :value => "Transfer"}
%div.action_buttons.float_right
  -if i_am_admin
    %a.styled-button{:href => "/organization/#{viewed_organization.name}/edit"} Make Changes
%h3
  :escaped
    #{"Credits of " + viewed_organization.name}:
%p
  $#{viewed_organization.credits}

%div.picture_container.float_right
  %img{:src => "#{viewed_organization.image_path}", :width => "200"}
%h3
  Members
%ul
  -for member in viewed_organization.members
    -if member.state == :active
      %li
        %a{:href => "/user/#{member.name}"}
          :escaped
            #{member.name}
%h3
  #{"Description of " + viewed_organization.name}
-if viewed_organization.description == ""
  %p No description available
-else
  %div.markdown_view
    =marked_down_description
