%div#actionbar
  %h2.float_left
    :escaped
       #{viewed_organization.name}
-if i_am_admin
  %div.action_buttons.float_right
    %a.styled-button{:href => "/organization_change/#{viewed_organization.name}"} Make Changes
%h3
  :escaped
    #{"Credits of " + viewed_organization.name}
%p
  $#{viewed_organization.credits}

%div.picture_container.float_right
  %img{:src => "#{viewed_organization.image_path}", :width => "200"}

%h3
  :escaped
    Items of #{viewed_organization.name}
-if viewed_organization.items.empty?
  %p
    No items available
-else
  %ul
    -for item in viewed_organization.items
      %li
        %a{:href => url("/item/#{item.id}")}
          =item.name

%h3
  Members of Organizations
%p
%ul
  -for member in viewed_organization.organization_members
    %li
      #{member.name}
%h3
  #{"Description of " + viewed_organization.name}
-if viewed_organization.description == ""
  %p No description available
-else
  %div.markdown_view
    =marked_down_description


