%div#actionbar
  %h2.float_left
    :escaped
       #{viewed_organization.name}
  %div.action_buttons.float_right
    -if is_my_organization
      %div.money-sender
        %form{:action => "/user/send_money/#{viewed_organization.name}", :method => "POST", :onsubmit => "return validate_gift_transfer(this);"}
          %table
            %tr
              %td.ralign
                %label Amount
              %td
                %input.textbox8{:type => "text", :name => "gift_amount", :style => "width: 2em"}
              %td
                %input.styled-button.float_left{:type => "submit", :value => "Transfer"}
      %a.styled-button{:href => "/item/new"} Create new Item
%h3
  :escaped
    #{"Credits of " + viewed_organization.name}:
%p
  $#{viewed_organization.credits}

%div.picture_container.float_right
  %img{:src => "#{viewed_organization.image_path}", :width => "200"}

%h3
  :escaped
    #{viewed_organization.name + " owns"} the following items:
-if viewed_organization.items.empty? and not is_my_organization
  %p
    No items available
-else
  %table.table-minimalistic
    %thead
      %tr
        %th Name
        %th Price
        %th Active
        %th
    %tbody
      -if viewed_organization.organization_members.include?(@user)
        %tr
          %form{:action => "/item/quick_add", :method => "POST", :onsubmit => "return validate_quick_add(this);"}
            %td
              %input.textbox8(type="text" name="item_name" style="width: 60px" value="Name")
            %td
              %input.textbox8(type="text" name="item_price" style="width: 30px" value="20")
            %td
            %td
              %input{:name => "_method", :type => "hidden", :value => "put"}
              %input.styled-button.small{:type => "submit", :value => "Quick Add"}
      -for item in viewed_organization.items
        %tr
          %td
            %a{:href => url("/item/#{item.id}")}
              =item.name
          %td
            #{item.price}
          %td
            -if item.active?
              %input{:type => "checkbox", :disabled => "disabled", :checked => "checked"}
            -else
              %input{:type => "checkbox", :disabled => "disabled"}
          %td
            %div.action_buttons
              -if @user.can_activate?(item)
                -if item.active?
                  %form{:action => "/item/#{item.id}/act_deact/false", :method => "POST"}
                    %input.styled-button.small.float_left{:type => "submit", :value => "Deactivate"}
                -else
                  %form{:action => "/item/#{item.id}/act_deact/true", :method => "POST"}
                    %input.styled-button.small{:type => "submit", :value => "Activate"}
              -if @user.can_edit?(item)
                %a.styled-button.small{:href => "/item/#{item.id}/edit"} Edit
              -if @user.can_delete?(item)
                %form{:action => "/item/#{item.id}", :method => "POST"}
                  %input{:name => "_method", :type => "hidden", :value => "delete"}
                  %input.styled-button.small.delete-color{:type => "submit", :value => "Delete"}
%h3
  Admin(s)
%p
  -for admin in viewed_organization.organization_admin
    :escaped
      #{admin.name + ", "}
%h3
  Member(s)
%p
  -for member in viewed_organization.organization_members
    :escaped
      #{member.name + ", "}
%h3
  Description
-if viewed_organization.description == ""
  %p No description available
-else
  %div.markdown_view
    =marked_down_description

-if viewed_organization.organization_admin.include?(@user)
  %h3
    Invite Users
-if viewed_organization.organization_admin.include?(@user)
  %table.table-minimalistic
    %thead
      %tr
        %th Name
        %th
    %tbody
      -for user in Store::User.all
        %tr
          %td
            %a{:href => url("/user/#{user.name}")}
              =user.name
          %td
            %div.action_buttons
              -if !viewed_organization.organization_members.include?(user)
                %form{:action => "/organization/#{viewed_organization.name}/add/#{user.name}/", :method => "POST" }
                  %input.styled-button.small{:type => "submit", :value => "Invite"}
              -if viewed_organization.organization_members.include?(user) and !viewed_organization.organization_admin.include?(user)
                %form{:action => "/organization/#{viewed_organization.name}/remove/#{user.name}/", :method => "POST"}
                  %input.styled-button.small.float_left{:type => "submit", :value => "Remove"}
              -if !viewed_organization.organization_admin.include?(user) and viewed_organization.organization_members.include?(user)
                %form{:action => "/organization/#{viewed_organization.name}/add/#{user.name}/", :method => "POST"}
                  %input.styled-button.small.float_left{:type => "submit", :value => "Add as Admin"}
              -if viewed_organization.organization_admin.length>1 and viewed_organization.organization_admin.include?(user)
                %form{:action => "/organization/#{viewed_organization.name}/remove/#{user.name}/", :method => "POST"}
                  %input.styled-button.small.float_left{:type => "submit", :value => "Remove as Admin"}



