%h2
  -if is_my_profile
    My Profile
  -else
    #{viewed_user.name}'s Profile
%div.action_buttons.float_right
  -if is_my_profile
    %div.button_container
      %form{:action => "/item/new", :method => "GET"}
        %input.styled-button{:type => "submit", :value => "Create new item"}
    %div.button_container
      %form{:action => "/user/#{@user.name}/edit", :method => "GET"}
        %input.styled-button{:type => "submit", :value => "Edit Profile"}
%h3
  #{is_my_profile ? "Your " : viewed_user.name + "'s"} credits:
%p
  $#{viewed_user.credits}
%h3
  #{is_my_profile ? "Your " : viewed_user.name + "'s"} description:
-if viewed_user.description == ""
  %p
    No description available
-else
  -lines = ("#{viewed_user.description}").split("\n")
  -unless lines.empty?
    -lines.each do |line|
      =line
      %br
%h3
  #{is_my_profile ? "You own" : viewed_user.name + " owns"} the following items:
-if viewed_user.items.empty? and not is_my_profile
  %p
    No items available
-else
  %table.table-minimalistic
    %thead
      %tr
        %th Name
        %th Price
        %th Active
        %th
    %tbody
      -for item in viewed_user.items
        %tr
          %td
            %a.tooltip{:href => url("/item/#{item.id}")}
              =item.name
              %span.classic
                -if item.description == ""
                  No description available
                -else
                  =item.description
          %td
            #{item.price}
          %td
            -if item.active?
              %input{:type => "checkbox", :disabled => "disabled", :checked => "checked"}
            -else
              %input{:type => "checkbox", :disabled => "disabled"}
          %td
            %div.action_buttons
              -if @user.can_activate?(item) or @user.name == "admin"
                %div.button_container
                  -if item.active?
                    %form{:action => "/item/#{item.id}/act_deact/false", :method => "POST"}
                      %input.styled-button.small{:type => "submit", :value => "Deactivate"}
                  -else
                    %form{:action => "/item/#{item.id}/act_deact/true", :method => "POST"}
                      %input.styled-button.small{:type => "submit", :value => "Activate"}
              -if @user.can_edit?(item) or @user.name == "admin"
                %div.button_container
                  %form{:action => "/item/#{item.id}/edit", :method => "GET"}
                    %input.styled-button.small{:type => "submit", :value => "Edit"}
              -if @user.can_delete?(item)
                %div.button_container
                  %form{:action => "/item/#{item.id}", :method => "POST"}
                    %input{:name => "_method", :type => "hidden", :value => "delete"}
                    %input.styled-button.small.delete-color{:type => "submit", :value => "Delete"}
      -if is_my_profile
        %tr
          %form{:action => "/item", :method => "POST"}
            %td
              %input.textbox8(type="text" name="item_name" style="width: 60px" value="Name")
            %td
              %input.textbox8(type="text" name="item_price" style="width: 30px" value="20")
            %td
            %td
              %div.button_container
                %input{:name => "_method", :type => "hidden", :value => "put"}
                %input.styled-button.small{:type => "submit", :value => "Quick Add"}
