%h2
  Store
%h3
  Your credits:
%span
  $#{@user.credits}

%h3
  Items currently in store:
%table.table-minimalistic
  %thead
    %tr
      %th Item
      %th Price
      %th Owner
      %th
  %tbody
    -for user in users.concat(Store::Organization.all)
      -for item in user.get_active_items
        %tr
          %td
            %a{:href => url("/item/#{item.id}")}
              :escaped
                #{item.name}
          %td
            #{item.price}
          %td
            %a{:href => url("/user/#{item.owner.name}")}
              :escaped
                #{item.owner.name}
          %td
            -if @user.can_buy?(item)
              %form{:action => "/user/buy/#{item.id}", :method => "POST"}
                %input.styled-button.small.buy-color{:type => "submit", :value => @user.on_behalf_of == @user ? "Buy" : "Buy as #{@user.on_behalf_of.name}"}
%h3
  Recent purchases
- if most_recent_purchases.empty?
  %p No recent purchases
-else
  %table.table-minimalistic
    %tbody
      -for activity in most_recent_purchases
        %tr
          %td
            =activity.timestamp.to_s
          %td
            =activity.what_happened
