%div#actionbar
  %h2.float_left
    -if is_my_profile
      My Profile
    -else
      :escaped
        Profile of #{viewed_user.name}
  %div.action_buttons.float_right
    -if is_my_profile
      %a.styled-button{:href => "/user/#{@user.name}/edit"} Edit Profile
      %a.styled-button.delete-color{:href => "/suspend_prov"} Delete account
-if has_pending_items
  %p{:style => "font-size: 13px"}
    You have pending items. Head over to
    %a{:href => url('/my_pending_items')} Pending Items
    to confirm reception of these items...
-if offer_count > 0
  %p{:style => "font-size: 13px"}
    You have #{offer_count} items matching offers in the store. Head over to
    %a{:href => url('/store/offers')} Offers
    to sell your matching items...
%h3
  :escaped
    #{is_my_profile ? "Your Credits" : "Credits of " + viewed_user.name}:
%p
  $#{viewed_user.credits}

%div.picture_container.float_right
  %img{:src => "#{viewed_user.image_path}", :width => "200"}

%h3
  Member of Organizations:
-if viewed_user.organizations.empty?
  %p
    None
-else
  %ul
    -for org in viewed_user.organizations
      %li
        %a{:href => "/organization/#{org.name}"}
          :escaped
            #{org.name}
%br
%h3
  #{is_my_profile ? "Your Description" : "Description of " + viewed_user.name}:
-if viewed_user.description == ""
  %p No description available
-else
  %div.markdown_view
    =marked_down_description