%link(rel="stylesheet" type="text/css" href="/style.css")
%h1 Welcome #{user_name}
%h4 Your Money: #{money} $
%a{:href => "/"} Home
%br/
%a{:href => "/show_my_items"} My Items
%br/
%a{:href => "/logout"} Logout
%h2 Active Items
%ul
  - for item in active_items
    %li #{item.name}
    %ul Price = #{item.price} $
    - if item.owner.name != user_name
      %footer
        %ul
          %a{:href => "/checkout_user/#{item.owner.name}"} Owner: #{item.owner.name}
          %form(action = "/buy/#{item.id}" method = "POST")
            %input(type="submit" value="Buy")
    - else
      %ul Owner: You

    %p

%hr
Time: #{time.strftime("%H:%M:%S")}