%h1
  Profile View of #{user.name}
%p
  #{user.name}'s credits: $#{user.credits}
%h2
  #{user.name} owns the following items:
%table{:id => "hor-minimalist-b"}
  %thead
    %tr
      %th Name
      %th Price
      %th Active
  %tbody
    -for item in user.items
      %tr
        %td
          #{item.name}
        %td
          #{item.price}
        %td
          -if item.active?
            %input{:type => "checkbox", :disabled => "disabled", :checked => "checked"}
          -else
            %input{:type => "checkbox", :disabled => "disabled"}
        %td
          -if user.name == session[:name] or session[:name] == "admin"
            -if item.active?
              %form{:action => "/act_deact/#{item.id}/false", :method => "POST"}
                %input{:type => "submit", :value => "Deactivate", :text => "deacBtn", :class => "styled-button-4"}
            -else
              %form{:action => "/act_deact/#{item.id}/true", :method => "POST"}
                %input{:type => "submit", :value => "Activate", :text => "deacBtn", :class => "styled-button-4"}
