%h1
  Hello #{current_name}
%p
  Your credits: $#{current_user.credits}
%p
  Items currently in store:

%table{:id => "hor-minimalist-b"}
  %thead
    %tr
      %th Name
      %th Price
      %th Owner
  %tbody
    -for user in users
      -for item in user.get_active_items
        %tr
          %td
            #{item.name}
          %td
            #{item.price}
          %td
            %a{:href => url("/profile/#{item.owner.name}")} #{item.owner.name}
          %td
            -if user != current_user
              %form{:action => "/buy/#{item.id}", :method => "POST"}
                %input{:type => "submit", :value => "Buy", :text => "buyBtn", :class => "styled-button-4"}

%a{:href => url("/profile/#{current_user.name}")} My Profile
%a{:href => url("/users")} List all users
%br
%a{:href => url("/logout")} Logout

